.product__wish__item__pic img {
    width: 100px !important;
    border-radius: 50%;
}
td.wish__add {
    width: 175px;
}

td.wish__close {
    width: 65px;
}
td.product__wish__item {
    width: 150px;
}
td.name__item {
    width: 250px;
}
td.wish__price {
    width: 100px;
}
.shopping__cart__table th.total {
    padding-left: 20px;
}
.team__item {
    width: 270px;
    height: 360px;
}
.avatar.avatar-image.m-h-10.m-r-15 img {
    border-radius: 50%;
}
button.coupon_btn {
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #111111;
    padding: 14px 30px;
    border: none;
    position: absolute;

}

.avatar.avatar-image {
    width: 40px;
}

.avatar.avatar-image img {
    border-radius: 50%;
}
.review-wrap {
    margin-bottom: 40px;
}

.review-wrap ul li.review-items {
    overflow: hidden;
    margin-bottom: 30px;
}

.review-wrap ul li.review-items.review-items2 {
    margin-left: 30px;
}

.review-wrap ul li.review-items:last-child {
    margin-bottom: 0;
}

.review-img {
    float: left;
    margin-right: 20px;
}

.review-content {
    overflow: hidden;
    position: relative;
}

.review-content h3 {
    font-size: 16px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.review-content h3 a {
    color: #333;
}

.review-content h3 a:hover {
    color: #ef4836;
}

.review-content span {
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
}

.review-content .rating {
    position: absolute;
    right: 0;
    top: 0;
}
.ratting-wrap {
    margin-bottom: 40px;
}
.review-content .rating {
    position: absolute;
    right: 0;
    top: 0;
}

.ratting-wrap {
    margin-bottom: 40px;
}

.ratting-wrap table tr th {
    height: 35px;
    text-align: center;
    text-transform: uppercase;
    width: 180px;
    font-weight: 500;
    border: 1px solid #d7d7d7;
}

.ratting-wrap table tr td {
    border: 1px solid #d7d7d7;
    text-align: center;
    height: 40px;
}

.ratting-wrap tr td input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    -webkit-transition: 0.5s all linear;
    transition: 0.5s all linear;
    outline: none;
    position: relative;
    top: 2px;
    cursor: pointer;
    background: #ef4836;
}

.ratting-wrap tr td input:checked {
    border: 3px solid #ef4836;
    background-color: #fff;
}

.add-review h4 {
    font-size: 18px;
}

.add-review textarea,
.add-review input[type="text"],
.add-review input[type="email"],
.cart-form-wrap input,
.cart-form-wrap select {
    width: 100%;
    height: 50px;
    background: transparent;
    padding-left: 20px;
    border: 1px solid #d7d7d7;
    margin-bottom: 15px;
}

.add-review textarea {
    height: 150px;
    padding-top: 5px;
}

.add-review button {
    float: right;
    margin-top: 10px;
    padding: 10px 55px;
    text-transform: uppercase;
    border: none;
    background: #ef4836;
    color: #fff;
}

.add-review button:hover {
    background: #333;
}
.review-img img {
    width: 66px !important;
    border-radius: 50% !important;
}


/* FAQ SECTION */
.faq-page .accordion>.card {
    border: none;
    padding: 25px 0px
}

.accordion .card-header {
    background: none;
    border: none;
    position: relative;
    padding: 0;
}

.accordion .card-header a {
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    width: 100%;
    font-size: 16px;
}

.faq-page .accordion .card-header a {
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    width: 100%;
}

.accordion .card-header a:before {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    background: #f2f2f2;
    content: "\f107";
    font-family: 'Line Awesome Free';
    font-weight: 900;
    font-size: 0.7rem;
    top: 50%;
    position: absolute;
    right: 0;
    margin-top: -10px;
}

.accordion .card .card-header a[aria-expanded="true"] {
    color: #FF324D;
}

.accordion .card .card-header a[aria-expanded="true"]:before {
    background: #FF324D;
    color: #ffffff;
    transform: rotate(180deg);
}

.accordion .card-body {
    padding: 5px 0px;
    line-height: 1.6;
}

.faq-page .accordion .card-body {
    padding: 15px;
    line-height: 1.6;
}

.accordion .card-body li a {
    font-size: 0.9rem;
    color: #687188;
    display: block;
    padding-bottom: 3px
}

.faq-page .accordion .card-header h6 {
    padding-left: 55px
}

.faq-page .accordion .card-header h6:before {
    content: "\f128";
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    font-weight: 600;
    background: #f3f3f3;
    padding: 8px 15px;
    position: absolute;
    color: #777;
    left: 0;
    top: -8px
}

.faq-page .accordion>.card .collapse {
    padding-left: 40px
}
